body {
  background-color: #221f1f;
  font-family: Arial, sans-serif;
}

h2,
h4,
footer {
  color: #f5f5f1;
}

.icons {
  margin-left: 0.8em;
  margin-right: 0.8em;
  font-size: 1.2em;
  color: #f5f5f1;
}

.navbar-nav {
  font-size: 90%;
}

#kids {
  color: #f5f5f1;
  font-size: 0.8em;
}

.footer-icon {
  color: #838383;
}

.footer-links {
  font-size: 0.8em;
}

.footer-links p {
  margin-bottom: 0.3em;
  color: #838383;
}

footer a {
  text-decoration: none !important;
  color: inherit !important;
}

footer a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

.footer-button {
  color: #838383;
  border-color: #838383;
}

.copyright {
  color: #838383;
  font-size: 0.6em;
}

.col img {
  transition: transform 0.2s;
}

.col img:hover {
  transform: scale(1.1);
}

.navbar {
  background-color: #221f1f !important;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-weight: normal;
}

.navbar-toggler {
  border: none;
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.d-flex.justify-content-between {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rectangular-img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

h2.mb-4 {
  margin-bottom: 1rem;
}

.btn-group .dropdown-menu {
  background-color: #221f1f;
  border: none;
}

.footer-icon {
  margin-right: 10px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #e50914;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.6s linear infinite;
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
